+b.expertise
    .container
        .h2 Expertise
            span Lorem ipsum dolor sit amet proin gravida nibh vel velit
        +b.expertise-list
            .row
                +e.column.col-12.col-md-4.col-sm-12
                    +b.expertise-element
                        +e.icon._1
                        +e.title WEB DESIGN & DEVELOPMENT
                        +e.description This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                +e.column.col-12.col-md-4.col-sm-12
                    +b.expertise-element
                        +e.icon._2
                        +e.title BRANDING IDENTITY
                        +e.description This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                +e.column.col-12.col-md-4.col-sm-12
                    +b.expertise-element
                        +e.icon._3
                        +e.title MOBILE APP
                        +e.description This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
            .row
                +e.column.col-12.col-md-4.col-sm-12
                    +b.expertise-element
                        +e.icon._4
                        +e.title SEARCH ENGINE OPTIMIZATION
                        +e.description This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                +e.column.col-12.col-md-4.col-sm-12
                    +b.expertise-element
                        +e.icon._5
                        +e.title GAME DEVELOPMENT
                        +e.description This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                +e.column.col-12.col-md-4.col-sm-12
                    +b.expertise-element
                        +e.icon._6
                        +e.title MADE WITH LOVE
                        +e.description This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
            
            
            
            
            
            