+b({tag: 'header'}).header
    .container
        .row.align-items-center
            .col-md-auto
                +e.logo(href="#" title="tajam") 
            .col
                +b.header-menu
                    +e.link._active(href="#") Home
                    +e.link(href="#") About
                    +e.link(href="#") Expertise
                    +e.link(href="#") Teams
                    +e.link(href="#") Works
                    +e.link(href="#") People say
                    +e.link(href="#") Contact