include ../partials/reviews-element
+b.reviews
    .container
        +e.container#reviewsSlider
            +reviews-element(
                "This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.", "Jane Galadriel", "SEO", "../img/reviews-avatars/review_1.jpg"
            )
            +reviews-element(
                "This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.", "Jane Galadriel", "OSE", "../img/reviews-avatars/review_2.jpg"
            )
            +reviews-element(
                "Mauris vitae erat consequat auctor eu in elit.", "Jane Galadriel", "Node", "../img/reviews-avatars/review_3.jpg"
            )
            +reviews-element(
                "Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.", "Jane Galadriel", "Javascript", "../img/reviews-avatars/review_4.jpg"
            )
            +reviews-element(
                "Nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.", "Jane Galadriel", "PHP", "../img/reviews-avatars/review_5.jpg"
            )
        