.our-works {

    // top
    &-top {
        display: flex;
        align-items: center;
        height: 157px;

        &__row {
            &.row {
                margin: 0;
            }
        }

        &__title {
            font-size: 22px;
            color: $color_2;
            font-family: $playfair_font;
            font-weight: 700;
            text-transform: uppercase;
            @include letterspacing(50, 22);
        }

        &__link {
            position: relative;
            padding-right: 18px;
            display: inline-block;
            align-items: center;
            font-weight: 300;
            font-size: 14px;
            text-decoration: none;
            color: $color_2;
            @include letterspacing(50, 14);

            &::after {
                content: "";
                transition: .1s right linear;
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -$our-works-arrow-right-height / 2;
                opacity: 0.7;
                @include sprite($our-works-arrow-right);
            }

            &:hover {
                text-decoration: underline;

                &::after {
                    right: -2px;
                }
            }
        }
    }

    // gallery
    &-gallery {
        & .container {
            max-width: 1920px;
        }

        &__column {
            padding: 0 !important;
        }

        &__image {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    // bottom
    &-bottom {
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}