$playfair_font: 'playfair-font', sans-serif;
$roboto_font: 'roboto-font', sans-serif;
$hammersmith_font: 'Hammersmith One', sans-serif;

// colors
$color_white: #fff;
$color_1: #00e0d0;
$color_2: #413d4b;
$color_3: #ebebeb;
$color_4: #333333;
$color_5: #2f2d35;
$color_6: #c6c4c9;
$color_7: #f9f9f9;
$color_8: #f3f3f3;
$color_9: #77768b;
$color_10: #fafafa;